**/.DS_Store
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/node_modules
**/build
**/.svelte-kit
.env.example
.prettierrc
.editorconfig
.eslintrc.js
.gitignore
.gitattributes
README.md
Dockerfile
dist
